<section class="login">
  <div>
    <mat-toolbar class="login" color="primary" style="height:80px;">

    </mat-toolbar>
  </div>
  <div class="container my-5">
    <div class="align-items-center ">
      <div class="center-element mat-elevation-z8">
        <mat-card class="login" style="width: 100%;">
          <mat-grid-list cols="2" rowHeight="3:2">
            <mat-grid-tile>
              <div class="form-group row mb-2">
                <span>
                  <img src="../assets/images/login.png">
                </span>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="form-group row mb-2">
                <div class="form-group row mb-2" style="margin-top: 3%;">
                  <p class="display-12 fw-bold lh-2"style="color: #151515; font-size: 45px;
                  ">Heimerdinger</p>
                  <p class="display-12 lh-2" style="margin-top: 2%; color: #eca900; font-size: 15px;
                  ">Windows Servers Management tool</p>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <mat-form-field class="example-form-field" appearance="fill" style="width: 70%;">
                    <mat-label>User</mat-label>
                    <input matInput type="text" formControlName="username">
                  </mat-form-field>
                  <mat-form-field class="example-form-field" appearance="fill" style="width: 70%;">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                  </mat-form-field>
                  <span class="edit center-element" style="width: 70%;">
                    <button type="submit" class="btn btn-secondary btn-sm" style="width: 100%;">Login</button>
                  </span>
                </form>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="container my-5" style="height: 3000px;"></div>
</section>